{% extends "base.html" %}
{% block title %} Your Short URL {% endblock %}

{% block style %}
<style>
    .container {
        width:60%;
        height: 50vh;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .subheading {
        color: #ff5c26;
        font-weight: 600;
        font-size: 2.2rem;
    }
    @media only screen and (max-width:600px) {
        .container {
            width: 80%;
        }
        .subheading {
            font-size: 1.5rem;
        }
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="subheading">
        Your all new shortened URL is ready! 
    </div>
    <div class="url">
        <a href={{new_url}} target="_blank">{{ new_url }}</a>
    </div>
</div>
{% endblock %}